<div class="headerBox">
    <div class="bg" {notempty name="fixed"}:style="{ opacity: elementOpacity }"{/notempty}></div>
    <div class="box">
        <a href="/" class="logoBox" {notempty name="fixed"}:style="{ opacity: elementOpacity }"{/notempty}>
            {notempty name="config.logo"}
            <img class="logo" src="{$config.logo}" alt="{$config.app_name}"></img>
            {/notempty}
            
            {if condition="$config.app_name && $config.app_name_hide!=1"}
            <div class="title">{$config.app_name}</div>
            {/if}
        </a>
        <div class="search" {notempty name="fixed"}:style="{ opacity: elementOpacity }"{/notempty}>
            <input type="text" v-model="keyword" placeholder="输入关键字进行搜索" @keyup.enter="searchBtn" confirm-type="search" @confirm="searchBtn">
            <div class="btn" @click="searchBtn">
                <i class="iconfont icon-sousuo"></i>
            </div>
        </div>
        <div class="navs">
            {notempty name="config.qcode"}
            <div class="item" @click="qcodeVisible = true">加入群聊</div>
            {/notempty}
            {empty name="config.app_demand"}
            <div class="item" @click="layerVisible = true">提交需求</div>
            {/empty}
            <div class="btns" v-html="`{$config.app_links}`"></div>

            <div class="theme-toggle" @click="toggleTheme" title="切换深色模式">
                <svg v-if="isDark" viewBox="0 0 24 24" width="18" height="18" fill="currentColor" style="color:var(--theme-theme)"><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/></svg>
                <svg v-else viewBox="0 0 24 24" width="18" height="18" fill="currentColor" style="color:var(--theme-theme)"><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9c0-.46-.04-.92-.1-1.36-.98 1.37-2.58 2.26-4.4 2.26-2.98 0-5.4-2.42-5.4-5.4 0-1.81.89-3.42 2.26-4.4-.44-.06-.9-.1-1.36-.1z"/></svg>
            </div>

            <div class="iconfont icon-caidan" @click="drawer = true"></div>
        </div>
    </div>
</div>
<div class="headerKox"></div>


<el-dialog
    v-model="qcodeVisible"
    width="300"
  >
    <img src="{$config.qcode}" style="width: 100%" />
</el-dialog>

<el-dialog
    v-model="layerVisible"
    width="300"
  >
    <div class="layerBox">
		<div class="vname">提交需求</div>
	    <el-input
            v-model="content"
            placeholder="请输入你想看的资源信息~"
            type="textarea"
            resize='none'
          ></el-input>
		<div class="vbtn" @click="saveBtn">提交</div>
	</div>
</el-dialog>

<el-dialog
    v-model="drawer"
    width="300"
    center
  >
    <div class="drawer">
        {notempty name="config.qcode"}
        <div class="item" @click="qcodeVisible = true">加入群聊</div>
        {/notempty}
        {empty name="config.app_demand"}
        <div class="item" @click="layerVisible = true">提交需求</div>
        {/empty}
        <div class="btns" v-html="`{$config.app_links}`"></div>
    </div>
</el-dialog>

<el-dialog title="" v-model="dialogUrl" class="dialogUrlBox" :close-on-click-modal="false">
    <div v-loading="dialogLoading" class="dialogUrl" v-if="dialogUrl">
        <div v-if="dialogItem.showUrl">
            <block v-show="pc_type!=1">
                <block v-if="dialogItem.is_type==0">
                    <div class="title">请使用 <span>夸克APP</span> 扫码获取</div>
                    <div class="tips">打开夸克APP- 点击搜索框中的相机 - 点击扫码</div>
                </block>
                <block v-else>
                    <div class="title">请使用 <span>手机扫码</span> 获取</div>
                    <div class="tips">打开微信APP- 点击右上角 - 选择扫一扫</div>
                </block>
                <div class="qrcode" id="qrcode"></div>
            </block>
            <div class="nav">
                <div class="item">
                    <span class="t">{{dialogItem.title}}</span>
                </div>
                <div class="item" v-show="pc_type!=2">
                    <span>资源地址：</span>
                    <a :href="dialogItem.showUrl" target="_blank">{{dialogItem.showUrl}}</a>
                </div>
            </div>
        </div>
        <div v-else-if="!dialogLoading">
            <div class="title">获取失败</div>
            <div class="tips" style="color: #FF3F3D;">{{dialogItem.message}}</div>
        </div>
        <div class="statement">
            <div class="content">
                <p>🔔 声明：本站链接均由程序自动收集自公开网盘，不存储、不传播任何文件，跳转链接指向网盘官网。</p>
                <p>文件内容请自行辨别，如发现违规请向网盘平台举报。本站仅供学习交流，无任何收费行为。</p>
            </div>
        </div>
    </div>
</el-dialog>